body {
  background-color: #1e90ff;
}

.navbar {
  background-color: #00008b;
  padding: 0;
  border: 3px solid black;
  margin-bottom: 5px;
}
#countDown {
  background-color: black;
  color: red;
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 26px;
  border: inset;
  border-width: 2px;
  border-color: gray;
  font-family: "Orbitron", sans-serif;
}

.navbar-brand {
  border-right: 3px solid black;
  padding-right: 5px;
  padding-left: 5px;
  color: yellow;
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
}

#highScores {
  border-left: 3px solid black;
  padding-right: 5px;
  padding-left: 5px;
  color: yellow;
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
}

#startButton {
  margin: auto;
  width: 30%;
  max-width: 200px;
  border: 2px solid black;
  padding: 10px;
  background-color: tomato;
  border-radius: 25px;
  text-align: center;
  font-size: 30px;
}
#startButton:hover {
  border: 2px solid#FFDEAD;
  color: #ffdead;
}

.card {
  margin: auto;
  width: 40%;
  border: 1px solid #00008b;
}

.card-title {
  color: yellow;
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  background-color: #00008b;
  text-align: center;
  padding-top: 6px;
}

#submitButton {
  margin: auto;
  border: 2px solid black;
  padding: 2px;
  background-color: tomato;
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  display: hidden;
}
#submitButton:hover {
  border: 2px solid#FFDEAD;
  color: #ffdead;
}

.answerButton {
  background-color: lightgray;
  text-align: center;
}

.answerButton:hover {
  color: #ffdead;
  background-color: #dc143c;
}
.answerButton:active {
  color: #ffdead;
  background-color: black;
}

#scoreCard {
  margin: auto;
  width: 30%;
  color: magenta;
}

.card.correct {
  margin: auto;
  width: 40%;
  border: 2px solid green;
}

.card.wrong {
  margin: auto;
  width: 40%;
  border: 2px solid red;
}
